
<br><br>
 <div class="d-flex" >  <br><div style="border: 2px solid black;margin-left: 150px;" class="col-4">
    
    <label style="margin-left: 35px;">Add  Event name :</label><br>
    <input type="text" #t style="margin-left: 10px;"><br><br>
    <label style="margin-left: 35px;">Add  Event date :</label><br>
    <input type="date" #d style="margin-left: 23px;"><br><br> 
    <button type="submit" style="margin-left: 58px; background-color: rgb(112, 223, 149);" (click) ="fun(t.value,d.value)"> Submit</button><br>
  <br></div><br><br><br>
  <div id="q"><table id="ans" style="margin-left: 150px; width: 400px;">
    <tr>
      <th>{{h}}</th>
      <th>{{j}}</th>
    </tr>
    <tr *ngFor="let items of a, index as i" >
       <td>{{a[i].t}}</td>
       <td>{{b[i].d}}</td>
       <td><button type="submit" style=" background-color: rgb(112, 223, 149);" (click) ="delete1(i)"> Delete</button></td>
  
    </tr>
  </table></div></div>

  