<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TODOS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
       
        
      </ul>
    </div>
  </div>
</nav><br><div style="border: 2px solid black;margin-left: 250px;" class="col-4">

  <label style="margin-left: 35px;">Add  Event name :</label><br>
  <input type="text" #t style="margin-left: 5px;"><br>
  <!-- <label style="margin-left: 35px;">Add  Event date :</label><br>
  <input type="date" #d style="margin-left: 23px;"><br><br> -->
  <button type="submit" style="margin-left: 58px;" (click) ="fun(t.value)"> Submit</button>
<br></div>
<table id="ans">
  <tr>
    <th>Event name</th>
  </tr>
  <tr>
     <td>{{s}}</td>
  </tr>
</table>